<script src="https://www.gstatic.com/firebasejs/3.6.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBPlIeqSbYiQ5cp1dV89OoDKrns605WyPI",
    authDomain: "test-project-b5e9d.firebaseapp.com",
    databaseURL: "https://test-project-b5e9d.firebaseio.com",
    storageBucket: "test-project-b5e9d.appspot.com",
    messagingSenderId: "694114324309"
  };

  firebase.initializeApp(config);
  

  // (function() {
  //  encaptulate global variables and expose only needed actions.
  // })();

  // Refrance to database - users information node
  var ref = firebase.database().ref().child('users/');

  // Refrance to database - user data information
  var userRef = null;
  
  // Global refrances to the user profile information variable
  var user = null;

  // Global refrance to the current users uid
  var uid = null;



  /**
   * Create a new anonymous account.
   */
  function createNewAccount() {
    return firebase.auth().signInAnonymously()
      .then(handleCreateUser)
      .then(loadUserData)
      .catch(function(e) {
        console.log(e);
      })
  }

  /**
   * Convert firebase object into JSONable database model.
   * 
   * @param {Object} firebase user object.
   * @return {User|false}
   */
  function getUserObjectForDb(user) {
    if(!user) return false;
    return {
      displayName: user.displayName || user.uid || false,
      email: user.email || false,
      arbitraryData: user.arbitraryData || false
    }
  }

  /**
   * Handle creation of user account.
   * @param {Object} result 
   * @return {Promise} Once completed
   */ 
  function handleCreateUser(result) {
    uid = result.uid;
    var userIn = getUserObjectForDb(result);
    return ref.child('count/')
      .once('value', 
        addNewUserToDatabase.bind(undefined, userIn));
  }


  /** 
   * Add user update requires three actions 
   * 1. Set users/listCount/uid to true
   * 2. Increment the users/count
   * 3. Add the user account data to users/list/uid
   *
   * @param {Object} snapshot firebase database snapshot
   * @param {User}   user     User Model
   * @return {Promise} firebase update
   */
  function addNewUserToDatabase(user, snapshot) {
    var count = incrementVariable(snapshot.val());
    var updates = {};
    updates['/listCount/' + uid] = true;
    updates['/count'] = count;
    updates['/list/' + uid] = user;
    return ref.update(updates);
  }

  // increment a variable by one or set the variable to 
  // zero is the given value isn't valid
  function incrementVariable(value) {
    if(typeof value !== 'number') {
      value = 0;
    }
    return ++value;
  }


  // @todo
  function loadUserData() {
    userRef = ref.child('list/').child(uid);
    return userRef.on('value', setUserData);
  }

  function setUserData(snapshot) {
    var value = snapshot.val();
    var user = getUserObjectForDb(value);
    user = user;
  }


  function signOut() {
    return firebase.auth().signOut()
      .then(clearUserData)
      .then(clearUserDataListenRef);
  }
  
  function clearUserData() {
    user = null;
    uid = null;
  }

  // @todo
  function clearUserDataListenRef() {
    userRef && userRef.off();
    userRef = null;
  }

</script>


<button onclick="createNewAccount()">Create new account</button>
<button onclick="signOut()">Sign Out</button>
